.bg-secondary {
    background-color: #EDF1FF !important;
}

.form-control{
    height: 26px;
    margin: 4px;
    border: 1px solid black  !important;
}

.icon-img {
    width: 24px;  /* Adjust the size as needed */
    height: auto;
    max-width: 100%;
}

.navbar-toggler {
    border: none;
}

.navbar-collapse {
    padding: 0.5rem 1rem;
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .custom-invisible
    {
        display: none;
    } 
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .custom-invisible
    {
        display: none;
    }
}


/* button animation css */
.glow-on-hover {
    width: 90px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* navigation bar background custom change */
.text-bg-light {
    background-color: #c9bbbb !important;
}

